:root{
    /*Colors*/
    --maincolor: #f6f4d2;
    --secondcolor: #f19c79;
    --thirdcolor: #d4e09b;
    --fourtcolor:#582f0e;
    --paragrafy: #000;

/* Fonts */
    --title-secundary: font-title;
    --fontparagrafy: font-paragrafy;
    --title-main: font-title-main;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@font-face {
    font-family:font-title-secundary;
    src: url(/assets/Fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf);
}

@font-face {
    font-family: font-paragrafy;
    src: url(/assets/Fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf);
}

@font-face {
    font-family: font-title-main;
    src: url(/assets/Fonts/M_PLUS_Rounded_1c/MPLUSRounded1c-Black.ttf);
}


h1{
    font-family: var(--title-main);
    font-size: 45px;
}
h2{
    font-family: var(--title-secundary);
    font-size: 40px;
}
h3{
    font-family: var(--title-secundary);
    font-size: 28px;
}

p{
  font-family: var(--fontparagrafy);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    width: 100%;
    
}


/*Section Header*/

.container{
    width: 100%;
    background-color: var(--maincolor);
    height: 90px;
    position: fixed;
    z-index: 1;
}
.navbar__content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: end;
    justify-content: space-between;
}
.navbar__list{
    display: flex;
    gap: 20px;
}

.navbar__logo{
    padding: 10px;
}


.navbar__item a{
    padding: 10px;
    
}

.navbar__item > a:hover{
    cursor: pointer;
    background-color: var(--fourtcolor);
    color: white;
}

.navbar__logo > h1{
    color: var(--fourtcolor);
}
.navbar__logo > h1:hover{
    cursor: pointer;
}

.navbar__logo > h1 > span{
   color: var(--secondcolor);
}


/*Section Main Image*/

.main__image{
    height: 100vh;
    background: linear-gradient(rgba(69, 68, 68, 0.369),rgba(63, 63, 63, 0.38)), url(/assets/images/cafe-amanecer.jpg);
    background-size: cover;
    position: relative;
}

.main__image > h3{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight: 900;
    color: white;
    text-align: center;
}
.main__btn{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
    width: 250px;
    padding: 20px;
    font-size: 20px;
}
.main__btn:hover{
    cursor: pointer;
    background-color: var(--fourtcolor);
    color: white;
}

/*Section about us*/

.about__us__content{
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
    background-color: var(--secondcolor);
    align-items: center;
    text-align: center;
}

.about__us__img{
    object-fit: cover;
    height: 100vh;
}
.about__us__img > img{
    height: 100%;
    object-fit: cover;
}

.about__us__info{
    width: 500px;
    margin: 0 auto;
}
.about__us__info > h2{
    color: white;
    padding: 10px;
}
.about__us__info > h3{
    color: white;
    padding: 10px;
}

/*Section Testimonial Customer */

section {
    padding: 10px;
}
section > h2{
    text-align: center;
    font-size: 50px;
    padding: 10px;
    margin-top: 20px;
}


.flex__container{
    margin: 0 auto;
    background: url(/assets/images/pexels-pavel-danilyuk-6612670.jpg);
    background-size: cover;
    background-position: 0% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 100vh;
    gap: 10px;
}

.testimonial__content{
    background-color: var(--secondcolor);
    display: flex;
    height: 400px;
    width: 400px;
    align-items: center;
    border-radius: 10px;
    border: solid 1px rgb(172, 175, 175);
    box-shadow: 2px 5px 0px gray, 5px 5px 0px #c0c0bc;
}
.testimonial__img{
    border-radius: 50px;
    width: 350px;
    
}
.testimonial__img > img{
   width: 200px;
   height: 200px;
   object-fit: cover;
   border-radius: 350px
}
.testimonial__info > h3{
    color: white;
    padding: 5px;
}
.testimonial__info > p{
    padding: 10px;
}

/* Section Staff */

.staff__container{
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    width: 850px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,auto);
    /* grid-template-columns: repeat(auto-fit,minmax(300px,1fr)); */
    grid-template-rows: repeat(3,400px);
    gap:10px;

}
.staff__title{
    text-align: center;
    padding: 10px;
}

.staff__content{
    position: relative;
    box-shadow: 0px 0px 3px 0px black;
    margin-bottom: 5px;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: .5 ease;
    background: #93b2f7;
    width: 100%;
    overflow: hidden;
    
}
.staff__img:hover .overlay {
    height: 100%;
    cursor: pointer;
}


.staff__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.staff__gallery{
    position: relative;
}

.staff__content > .item2{
    object-position: 0% 19%;
}
.title__img{
    position: absolute;
    color: white;
    font-size: 30px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.staff__content:nth-child(1){
    grid-row: span 2;
}
.staff__content:nth-child(2){
    grid-column: span 2;
}
.staff__content:nth-child(3){
    grid-column: span 2;
}


/* Section clientes frecuentes */

.usual__customers__container{
    background-image : linear-gradient( rgba(48, 44, 44, 0.464), rgba(43, 42, 42, 0.356)), url(/assets/images/staff.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    /* opacity: 0.8; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    gap: 50px;
}
.usual__customers__container > h2{
    font-size: 50px;
    color: white;
}

.usual__customers__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.usual__customers__img{
    /* width: 100%; */
    min-width: 20%;
}

.usual__customers__img > img{
    width: 250px;
    height: 250px;
    border-radius: 200px;
}

/*Section muestra de producto*/

.grid__product{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-template-rows: 400px 400px 400px;
    gap:10px;
}

.product__img{
    height: 100%;
    object-fit: cover;
}

.product__container{
    position: relative;
}
.product__description{
    width: 100%;
    background: linear-gradient(rgba(44,44,44,0.8),rgba(44,44,44,0.8));
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 30px;
}

.product__container:nth-child(1){
    grid-row: span 3;
}
.product__container:nth-child(2){
    grid-column: span 2;
}
.product__container:nth-child(5){
    grid-column: span 2;
}

/*SECTION FOOTER*/

.grid__footer{
    background-color: var(--maincolor);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(700px,1fr));
    grid-template-rows: 200px 200px;
}
.footer__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer__form{
    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 10px;
}
.footer__form > form > input{
    height: 30px;
    width: 200px;
}
button{
    padding: 5px;
    width: 80px;
    border-radius: 10px;
    background-color: #000;
    color: white;
}
.footer__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__logos{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.footer__logos img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}
.footer__list .footer__list__item > a{
    color: #000;
}
.footer__list .footer__list__item > a:hover{
    cursor: pointer;
    background-color: var(--fourtcolor);
    color: white;
}
.footer__btn:hover{
    cursor: pointer;
    background-color: var(--fourtcolor);
    color: white;
}

@media screen and (max-width:600px) {
   .container{
    width: 100%;
    min-height: 250px;
    }
    .navbar__content{
    display: block;
    }
    .navbar__logo{
        text-align: center;
    }
    .navbar__list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}